@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgound-color: #000;
  --text-color: white;
  --background-color-dark: #000;
  --text-color-dark: white;
  --background-color-light: white;
  --text-color-light: #000;
}


.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light .login {
  background-image: url('../../public/universe_light.webp');
}

.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark .login {
  background-image: url('../../public/universe.webp');
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  :root:not(.dark):not(.light) .login {
    background-image: url('../../public/universe.webp');
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
   
  }
  :root:not(.dark):not(.light) .login {
    background-image: url('../../public/universe_light.webp');
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.horizontal-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent,transparent),linear-gradient(#de1d8d,#de1d8d);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out
}

.horizontal-underline-active,.horizontal-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
