@tailwind base;
@tailwind components;
@tailwind utilities;

a.link {
  color: var(--link-color);
}

:deep(.ant-table-body) {
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}

:root {
  color-scheme: light dark;
  --background-color: #111827; // 背景色
  --text-color: white; // 文字颜色
  --table-bg-color: #111827;  // 表格颜色
  --table-text-color: white; // 文字颜色
  --table-border-color: #fafafa; // 边框颜色
  --secondary-text-color: #d3d3d3; // 次要文字颜色
  --link-color: #1890ff; 
  ::-webkit-scrollbar {
    width: 6px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    // cursor: url('../../public/cursour.ico'), pointer; 
  }
  ol,
ul,
menu {
  list-style:decimal;
}
  ol {
    margin-left: 20px;
  }

  code {
    text-wrap: pretty
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 14px;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
}
.ant-table-wrapper .ant-table {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}

.light {
  color: var(--text-color-light);
  --background-color: #fff;
  --text-color: #111827;
  --table-bg-color: #fff;
  --table-text-color: #111827;
  --table-border-color: #fff;
  --secondary-text-color: #666
}
.dark {
  color: var(--text-color-dark);
  --background-color: #111827;
  --text-color: #fff;
  --table-bg-color: #111827;
  --table-text-color: white;
  --table-border-color: #111827;
  --secondary-text-color: #d3d3d3
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background-color: #111827;
    --text-color: #fff;
    --secondary-text-color: #d3d3d3
  }
  .login-icon path {
    fill: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    --background-color: #fff;
    --secondary-text-color: #666
    --text-color: #111827;
  }
  .login-icon {
    fill: var(--text-color);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-table-thead th {
  background-color: var(--table-bg-color) !important;
  color: var(--table-text-color) !important;
  border-color: var(--table-border-color) !important;
}

.ant-table-tbodyy td {
  background-color: var(--table-bg-color) !important;
  color: var(--table-text-color) !important;
  border-color: var(--table-border-color) !important;
}

.horizontal-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent,transparent),linear-gradient(#1d91de,#2a108a);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
  padding-bottom: 5px;
  &:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

.horizontal-underline-hover:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
    background-color: #1d91de;
    color: #fff;
}

.horizontal-underline-active {
  background-size: 100% 3px;
  background-position: 0 100%;
}
