@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgound-color: #000;
  --text-color: white;
  body {
    color: var(--text-color);
    background: var(--backgound-color)
  }
}
[data-theme='dark'] {
  --backgound-color: #000;
  --text-color: white;
  body {
    color: var(--text-color);
    background: var(--backgound-color)
  }
}

[data-theme='light'] {
  --backgound-color: white;
  --text-color: #000;
  body {
    --backgound-color: white;
    --text-color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --backgound-color: white;
    --text-color: #000
  }
}

body {
  color: rgb(var(--text-color));
  background: var(--backgound-color)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
