@tailwind base;
@tailwind components;
@tailwind utilities;


:deep(.ant-table-body) {
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}

:root {
  color-scheme: light dark;
  --background-color: #0a0d15; // 背景色
  --text-color: white; // 文字颜色
  --secondary-text-color: #d3d3d3; // 次要文字颜色
  --link-color: rgb(232 52 183); 
  font-size: 1rem;
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 14px;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.light {
  --background-color: #fff;
  --text-color: #111827;
  --secondary-text-color: #666
}
.dark {
  --background-color: #111827;
  --text-color: rgb(215 215 215);
  --secondary-text-color: #d3d3d3
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background-color: #111827;
    --text-color: rgb(215 215 215);
    --secondary-text-color: #d3d3d3
  }
  .login-icon path {
    fill: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    --background-color: #fff;
    --text-color: #111827;
    --secondary-text-color: #666
  }
  .login-icon {
    fill: var(--text-color);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.horizontal-underline {
  border-bottom-width: 0 !important;
  background-image: linear-gradient(transparent,transparent),linear-gradient(rgb(232 52 183),rgb(232 52 183));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
  &:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

.horizontal-underline-hover:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
    background-color: rgb(232 52 183);
    color: #fff;
}

.horizontal-underline-active {
  background-size: 100% 3px;
  background-position: 0 100%;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    position: absolute;
    width: 100vw;
    overflow: hidden;
}