@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    margin: 0;
    padding: 0
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333030;
  }
  
  ul,li {
    list-style: none;
  }
  
}


:root {
  color-scheme: light dark;
  --background-color: #000; // 背景色
  --text-color: white; // 文字颜色
  --table-bg-color: #000;  // 表格颜色
  --table-text-color: white; // 文字颜色
  --table-border-color: #fafafa; // 边框颜色
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
}
.ant-table-wrapper .ant-table {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
}

.light {
  color: var(--text-color-light);
  --background-color: #fff;
  --text-color: #333030;
  --table-bg-color: #fff;
  --table-text-color: #000;
  --table-border-color: #fff;
}
.dark {
  color: var(--text-color-dark);
  --background-color: #000;
  --text-color: #fff;
  --table-bg-color: #000;
  --table-text-color: white;
  --table-border-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background-color: #000;
    --text-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    --background-color: #fff;
    --text-color: #000;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-table-thead th {
  background-color: var(--table-bg-color) !important;
  color: var(--table-text-color) !important;
  border-color: var(--table-border-color) !important;
}

.ant-table-tbodyy td {
  background-color: var(--table-bg-color) !important;
  color: var(--table-text-color) !important;
  border-color: var(--table-border-color) !important;
}

.horizontal-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent,transparent),linear-gradient(#1d91de,#2a108a);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out
}

.horizontal-underline-active,.horizontal-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
