@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgound-color: #000;
  --text-color: white;
  --background-color-dark: #000;
  --text-color-dark: white;
  --background-color-light: white;
  --text-color-light: #000;
  
}
[data-theme='light'] {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

[data-theme='dark'] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}


@media (prefers-color-scheme: dark) {
  :root:not([data-theme='dark']):not([data-theme='light']) {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme='dark']):not([data-theme='light']) {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.horizontal-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent,transparent),linear-gradient(#de1d8d,#de1d8d);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out
}

.horizontal-underline-active,.horizontal-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}
