.article-detail {
    pre {
        @apply my-4
    }
    img {
        margin: 20px;
    }
    a {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent,transparent),linear-gradient(#1d91de,#2a108a);
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
        padding-bottom: 5px;
        background-size: 100% 3px;
        color: #1d91de
    }
    code {
        background-color: #eb7037;
        color: #fff;
        padding: 2px 4px;
        border-radius: 2px;
    }
    .language-css {
        .hljs-selector-pseudo {
            color: #aaa
        }

        .hljs-attr {
            color: #aaa
        }
    }

    h1 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.75em;
        line-height: 2.2;
        letter-spacing: -.025em;
        @apply my-3
    }

    h2 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.45em;
        line-height: 2;
        letter-spacing: -.025em;
        @apply my-3
    }

    h2 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.25em;
        line-height: 1.8;
        letter-spacing: -.025em;
        @apply my-3
    }

    h3 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.1em;
        line-height: 1.6;
        letter-spacing: -.025em;
        @apply my-3
    }

    h4 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1em;
        line-height: 1.5;
        letter-spacing: -.025em;
        @apply my-3
    }

    h5 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1em;
        line-height: 1.3;
        letter-spacing: -.025em;
        @apply my-3
    }

    h6 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1em;
        line-height: 1.1;
        letter-spacing: -.025em;
        @apply my-3
    }

    ul, ol {
        margin-left: 8ch;
    }
    ul li {
        list-style:circle
    }
    ol li {
        list-style:decimal
    }

    p {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        text-indent: 4ch;
        line-height: 2;
    }

    code[class*='language-'],
    pre[class*='language-'] {
        background-color: #28282c;
        color: #f8f8f2;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    /* Code blocks */
    pre[class*='language-'] {
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
        border-radius: 0.3em;
    }

    :not(pre)>code[class*='language-'],
    pre[class*='language-'] {
        background: #282a36;
    }

    /* Inline code */
    :not(pre)>code[class*='language-'] {
        padding: 0.1em;
        border-radius: 0.3em;
        white-space: normal;
    }

}