.article-detail {
    pre {
        @apply my-4
    }
    img {
        margin: 0 auto;
        max-width: 70%;
    }

    p a {
        border-bottom-width: 0 !important;
        background-image: linear-gradient(transparent,transparent),linear-gradient(bg-primary-500,bg-primary-500);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
        &:hover {
          background-size: 100% 3px;
          background-position: 0 100%;
        }
          @apply bg-primary-500 text-white;
    }
    pre code {
        border-radius: 2px;
    }

    p code {
        background-color: rgb(240, 117, 35);
        color: #fff;
        padding: 0.15rrem 0.35rrem;
        border-radius: 2px;
    }
    .language-css {
        .hljs-selector-pseudo {
            color: #aaa
        }

        .hljs-attr {
            color: #aaa
        }
    }

    h1 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2.2;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h2 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.45rrem;
        line-height: 2;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h2 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.8;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h3 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.6;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h4 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h5 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: -.025rem;
        @apply my-3
    }

    h6 {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.1;
        letter-spacing: -.025rem;
        @apply my-3
    }

    ul, ol {
        margin-left: 4ch;
    }
    ul li {
        list-style:circle
    }
    ol li {
        list-style:decimal
    }

    p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        // text-indent: 4ch;
        line-height: 2;
    }

    code[class*='language-'],
    pre[class*='language-'] {
        background-color: #28282c;
        color: #f8f8f2;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    /* Code blocks */
    pre[class*='language-'] {
        padding: 1rem;
        margin: 0.5rem 0;
        overflow: auto;
        border-radius: 0.3rem;
    }

    :not(pre)>code[class*='language-'],
    pre[class*='language-'] {
        background: #282a36;
    }

    /* Inline code */
    :not(pre)>code[class*='language-'] {
        padding: 0.1rem;
        border-radius: 0.3rem;
        white-space: normal;
    }

}