name: deploy
on:
 push:
    branches: [ main ]
 pull_request: 
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab

jobs:
  build:
   runs-on: ubuntu-latest
   steps:
      - name: executing remote ssh commands
        
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.DEPLOY_HOST}}
          username: ${{secrets.DEPLOY_USER}}
          password: ${{secrets.DEPLOY_PASS_WORD}}
          script: cd /www/blog-offical && git pull && pnpm install && pnpm build && pm2 delete all && pm2 start pnpm --name "blog-offical" -- start
